/* Style pour la page du panier */
.cart-page-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .cart-page-container app-sec-cart {
    width: 100%;
    max-width: 800px;
    margin: 20px;
  }
  