.shopping-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .product-list {
    width: 70%;  /* Liste des produits prend 70% de la largeur */
  }
  
  .cart-sidebar {
    width: 28%;  /* Le panier prend 28% de la largeur */
    margin-left: 2%;
  }
  