<div class="shopping-page-container">
    <app-sec-header></app-sec-header>  <!-- Inclure l'en-tête -->
    <div class="main-content">
      <div class="product-list">
        <!-- Ajouter une grille de produits ou des sections pour afficher les produits -->
        <app-sec-product-grid></app-sec-product-grid>  <!-- Affichage des produits -->
      </div>
      <div class="cart-sidebar">
        <app-sec-cart></app-sec-cart> <!-- Affichage du panier -->
      </div>
    </div>
    <app-sec-footer></app-sec-footer>  <!-- Ajouter le pied de page -->
  </div>
  
